<h1>Listado de Productos</h1>

{{#each products}}
    <h2>Producto: {{this.title}}</h2>
    <p>id: {{this.id}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>Código: {{this.code}}</p>
    <p>Precio: ${{this.price}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Categoría: {{this.category}}</p>
{{/each}}