<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="style.css">   
</head>
<body>
    <h1>Cayena Almacén Orgánico & Natural</h1>
    
    <div class="product__container">
      {{#each product}}
        <div class="product__card">
            <img src="/images/{{thumbnails}}" alt="{{title}}">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <p>Price: ${{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Code: {{code}}</p>
            <p>Category: {{category}}</p>
            <button class="add__to__cart__button" data-product-id="{{_id}}">Agregar al Carrito</button>
            <button onclick="location.href='/carts'" class="view__cart__button" method="POST">Ver Carrito</button>
        </div>
      {{/each}}
    </div>
  
    <script>
      const addToCartButtons = document.querySelectorAll('.add__to__cart__button');
      addToCartButtons.forEach(button => {
          button.addEventListener('click', async () => {
            const productId = button.getAttribute('data-product-id');
            console.log("productId: ", productId);

            try {
                const response = await fetch(`http://localhost:8080/carts/products/${productId}`, {
                    method: 'PUT'
                });

                if (response.ok) {
                    console.log('Producto agregado al carrito');
                } else {
                    console.error('Error al agregar el producto al carrito');
                }
            } catch (error) {
                console.error('Error en la solicitud:', error);
            }
          });
      });

    </script>
</body>
</html>
