<article>
    <h1>Bienvenido a Cayena Almacén Orgánico y Natural, {{this.name}}</h1><br>
    <div class="profile">
        <h2>Sus datos de usuario son:</h2>
        <ul>
            <li><p>Nombre: {{name}}</p></li>
            <li><p>Correo: {{email}}</p></li>
            <li><p>Edad: {{age}}</p></li>
            <li><p>Perfil de usuario: {{role}}</p></li>
        </ul> 
    </div><br>

    <p class="logout__button"><a href="/api/sessions/logout" role="button">Logout</a></p>
    <p class="products__button"><a href="/products" role="button">Ver nuestros productos</a></p>
</article>