<article>
    <h1>Bienvenido a Cayena Almacén Orgánico y Natural, {{this.name}}</h1><br>
    <div class="profile">
        <h2>Sus datos de usuario son:</h2>
        <ul>
            <li><p>Nombre: {{name}}</p></li>
            <li><p>Correo: {{email}}</p></li>
            <li><p>Edad: {{age}}</p></li>
            <li><p>Perfil de usuario: {{role}}</p></li>
        </ul> 
    </div><br>
    
    <div class="profile__buttons__1">
        <button onclick="location.href='/api/sessions/logout'" class="logout__button">LOGOUT</a></button><br>
        <button onclick="location.href='/products/marketplace'" class="buy__button">IR A COMPRAS</a></button><br>
    </div>
    <div class="profile__buttons__2">
        <button onclick="location.href='/products'" class="products__button">Ver listado de productos (Sólo Admin o Premium)</a></button><br>
        <button onclick="location.href='/api/sessions/users'" class="products__button">Ver Listado de Usuarios (Sólo Admin)</a></button><br>
    </div>

</article>